@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  /* Prevent scrolling on fullscreen app */
  background-color: #020617;
  /* Slate 950 */
  color: #fff;
  font-family: 'Inter', sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #0f172a;
  /* slate-900 */
}